<p>Name : <%=referee.name %></p>
<ul>
  <li><%= link_to "Rules", referee.rules_url %></li>
  <li>Players Per Game : <%=referee.players_per_game %></li>
  <li><%= link_to "delete", referee, method: :delete, data: {confirm: "Are you sure you want to delete #{ referee.name }? (I heard he's pretty sweet)"} %> | 
    <%= link_to "edit", edit_referee_path(referee.id)%></li>
</ul>
<p></p>